CONFIG_SEC_SERRANOVE_PROJECT=y
CONFIG_MACH_SERRANOVE3G_EUR_OPEN=y
CONFIG_SEC_FPGA_ICE40XX=y
CONFIG_SM5502_MUIC=y
CONFIG_SM5504_MUIC=y
CONFIG_USBID_STANDARD_VER_01=y
CONFIG_MUIC_SUPPORT_RUSTPROOF=y
CONFIG_MUIC_SUPPORT_CHARGING_CABLE=y
CONFIG_SEC_GPIO_SETTINGS=y
CONFIG_CHECK_SIMSLOT_COUNT=y
CONFIG_CHECK_SIMSLOT_COUNT_DT=y
CONFIG_SENSORS_HALL=y
CONFIG_KEYBOARD_TC360_TKEY=y
CONFIG_TOUCHSCREEN_ZINITIX_BT541=y
CONFIG_TOUCHSCREEN_MXT336S=y
CONFIG_MFD_RT5033=y
CONFIG_REGULATOR_RT5033=y
CONFIG_S5K6A3YX=y
CONFIG_S5K4H5YB=y
CONFIG_PANEL_S6E88A0_AMS427AP24_QHD=y
CONFIG_AUDIO_QUAT_I2S_ENABLE=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_OTG_WAKELOCK=y
CONFIG_NO_DETECT_PIN=y
CONFIG_QPNP_VIBRATOR=y
CONFIG_IIO=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_ST_LSM6DS3_IIO=y
CONFIG_SENSORS_YAS_MAGNETOMETER=y
CONFIG_SENSORS_GP2A030_IIO=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_DATA_FILE="serranovelte_battery_data.h"
CONFIG_FUELGAUGE_RT5033=y
CONFIG_CHARGER_RT5033=y
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_SIOP_CHARGING_LIMIT_CURRENT=700
CONFIG_SENSORS_CORE=y
CONFIG_RESTART_REASON_SEC_PARAM=y
