CONFIG_SEC_GTES_PROJECT=y
CONFIG_MACH_GTES_USA_SPR=y
CONFIG_BARCODE_PAINTER=y
CONFIG_SM5703_MUIC=y
CONFIG_USBID_STANDARD_VER_01=y
CONFIG_MUIC_SUPPORT_RUSTPROOF=y
CONFIG_MUIC_SUPPORT_CHARGING_CABLE=y
CONFIG_MUIC_SM5703_SUPPORT_LANHUB_TA=y
CONFIG_SEC_GPIO_SETTINGS=y
CONFIG_TOUCHSCREEN_ZT7548_TS=y
CONFIG_MFD_SM5703=y
CONFIG_REGULATOR_SM5703=y
CONFIG_APC_CPR_QUOT_BOOST=y
CONFIG_S5K4ECGX=y
CONFIG_DB8221A=y
CONFIG_CAM_DUAL_POWER_SEQ=y
CONFIG_CAMERA_SYSFS_V2=y
CONFIG_SENSOR_8_BPP=y
CONFIG_PANEL_S6D7AA0X11_TV080WXM_WXGA=y
CONFIG_FLASHLIGHT=y
CONFIG_RT_FLASH_LED=y
CONFIG_SM5703_VIBRATOR=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_DATA_FILE="gtes_battery_data.h"
CONFIG_BATTERY_SWELLING=y
CONFIG_FUELGAUGE_SM5703=y
CONFIG_PREVENT_SOC_JUMP=y
CONFIG_CHARGER_SM5703=y
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_SIOP_CHARGING_LIMIT_CURRENT=1700
CONFIG_SW_SELF_DISCHARGING=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_K2HH=y
CONFIG_SENSORS_K2HH_VDD=y
CONFIG_SENSORS_SX9500_NORMAL_TOUCH_THRESHOLD=11
CONFIG_SENSORS_SX9500_REGULATOR_ONOFF=y
CONFIG_SENSORS_SX9500_ALWAYS=y
CONFIG_RESTART_REASON_SEC_PARAM=y
